:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --primary-color: #8f0000;
    --details-color: #000000;
    --background-color: #ffffff;

    --top-bar-height: 4.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--details-color);
    background-color: var(--primary-color);
}

menu , li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Buttons */
.visual-btn {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    padding: .5em .75em;
    border-radius: .25em;
    color: var(--background-color);
    border: .1em solid var(--primary-color);
    background-color: var(--primary-color);
}

.visual-btn.secondary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background-color: var(--background-color);
}

.visual-btn:hover {
    box-shadow: 0 0 .25em #00000080;
    filter: brightness(125%)
}

.visual-btn:active {
    box-shadow: inset 0 0 .5em #00000080;
    filter: brightness(87.5%)
}


/* HEADER */
header {
    padding-top: var(--top-bar-height);
    min-height: var(--top-bar-height);
}

/* Navigation Bar */
#top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 4rem;
    height: var(--top-bar-height);
    color: var(--primary-color);
    background-color: var(--background-color);
    box-shadow: .25rem 0 0.125rem #00000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 3.5rem;
}

.logo img {
    height: 100%;
}

.nav-links {
    font-size: 1.5rem;
    height: 100%;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a:hover {
    text-decoration: double underline;
}

#top-bar .visual-btn {
    font-size: 1.25rem;
}


/* MAIN */
section {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
    color: var(--background-color);
}

section .details-container{
    padding: 1.25rem;
    color: var(--primary-color);
    background-color: var(--background-color);
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Ticket generator */
#ticket-generator .details-container {
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem #00000080;
}

form {
    display: grid;
    width: 40rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    font-size: 1.25rem;
}

form > div:last-child {
    grid-column: span 3;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: .75rem;
}

.input-main {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    appearance: none;
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
    border-color: var(--primary-color);
    outline: none !important; 
}

.input-main:focus {
    box-shadow: 0 0 .5rem inset #00000080;
    border-color: var(--details-color);
}